<header>
    <div class="wrap-logo">
        <a href="/" class="logo">ToDo</a>
        <a href="/card" class="card">Список дел</a>
    </div>
    <a href="/auth/login" class="LoginButton">Войти</a>
</header>