<div class="home">
    <div class="home__ball"></div>

    <div class="home__title">Планируйте свою работу<br>уже сейчас</div>
    <div class="home__subtitle">Создайте свой первый список дел, здесь
        вы можете<br> организовать свою работу в любое время</div>
    <a href="/auth/login" class="home__startButton">Начать →</a>
</div>
<div class="home__mockup">
    <img src="/clean-ipad-screen-mockup-with-keyboard.png" alt="mockup">
</div>